* {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}

.header_logo {
    max-width: 5rem;
    margin-left: 5px;
}

.header__img {
    width: 100%;
}

.header_text {
    margin-right: 30px;
}

.card {
    text-align: center;
    color: white;
    padding: 3rem 0rem;
    background: linear-gradient(rgba(7, 5, 12, 0.75), rgba(7, 5, 12, 0.75)), url("../../public/assets/img/fondo-header.webp");
    background: linear-gradient(rgba(103, 42, 29, 0.75), rgba(7, 5, 12, 0.75)), url("../../public/assets/img/fondo-header.webp");
    background-size: cover;
}

.card_title {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.user {
    height: 15rem;
    width: auto;
    border-radius: 100%;
}

.card_name {
    font-size: 1.5rem;
    padding: 1.5rem;
}

.card_text {
    font-size: 1rem;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.contact_title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.contact_btn {
    border-radius: 50%;
    padding: 11px;
    margin: 10px 30px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
}

.ico {
    font-size: 2rem;
    vertical-align: middle;
}

.btn_whatsapp {
    background-color: rgb(253, 253, 253);
}

.btn_gmail {
    background-color: rgb(253, 253, 253);
}

.btn_phone {
    background-color: rgb(253, 253, 253);
}

.btn_web {
    background-color: rgb(253, 253, 253);
}

.btn_pfd {
    background-color: rgb(253, 253, 253);
}

.copy {
    background-color: black;
    color: #ffff;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row-reverse;
}

.dev {
    color: #ffff;
    text-decoration: none;
}



/* MediaQuery for movil */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575px) {

    /* * {
        background-color: rgb(230, 230, 134);
    } */
    .header_text {
        font-size: 2rem;
    }

    .header_text {
        margin-right: 15px;
        margin: auto;
    }

    .main{
        padding: 2rem;
    }

    .contact_btn {
        padding: 1.8rem;
    }
    
    .ico {
        font-size: 2.8rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* * {
        background-color: #b13333;
    } */
    .header_text {
        font-size: 2.5rem;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5rem;
    }

    .contact_btn {
        padding: 2rem;
    }
    
    .ico {
        font-size: 3rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* * {
        background-color: #84d9bc;
    } */
    .header_text {
        font-size: 3rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* * {
        background-color: #cde835;
    } */
    .header_text {
        font-size: 4rem;
    }

    .card_title {
        margin-bottom: 2.5rem;
        font-size: 5rem;
    }

    .user {
        height: 22rem;
    }

    .card_name {
        font-size: 3rem;
        padding: 1.5rem;
    }

    .card_text {
        font-size: 1.5rem;
        text-align: center;
    }

    .contact_title {
        font-size: 2rem;
    }

    .contact_btn {
        font-size: 1rem;
    }

    .ico {
        font-size: 5rem;
    }

    .copy {
        font-size: 1rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* * {
        background-color: #41403c;
    } */
}