*{
    margin: 0;
    padding: 0;
}

.card{
    text-align: center;
    color: white;
    padding: 3rem;
    /* background: linear-gradient( rgba(155, 82, 82, 0.75), rgba(155, 82, 82, 0.75)), url("../img/fondo-header.webp"); */
    background: linear-gradient( rgba(7, 5, 12, 0.75), rgba(7, 5, 12, 0.75)), url("../img/fondo-header.webp");
    background-size: cover;
}

.card_title{
    margin-bottom: 3rem;
    font-size: 3rem;
}

.karina{
    height: 13rem;
    width: auto;
    border-radius: 100%;
    
}
.card_name{
    font-size: 2rem;
    padding: 1.5rem;
}

.card_text{
    font-size: 1.3rem;
    text-align: justify;
}

.contact{
    margin: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-align: center;
}

.contact_btn{
    border-radius: 50px;
    padding: 15px 30px;
    margin: 10px 30px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
}

.ico{
    font-size: 2.5rem;
    vertical-align: middle;
}

.btn_whatsapp{
    background-color: rgb(37, 211, 102);
}
.btn_gmail{
    background-color: rgb(216, 68, 55);
}
.btn_phone{
    background-color: rgb(173, 216, 230);;
}
.btn_web{
    background-color: rgb(200, 191, 231);;
}